<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B4UGO</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #login {
            margin: 16%;
        }

        #login-input {
          margin: 0 15%;
        }
    </style>
</head>
<body class="text-center">
    <main class="form-signin" id="login">
      <form id="login-input">
        <h1 class="h1 mb-3 fw-normal">Before You Go</h1>
        <div class="form-floating">
          <input type="id" class="form-control" id="floatingInput input-email" placeholder="name@example.com">
          <label for="floatingInput">아이디</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword input-password" placeholder="Password">
          <label for="floatingPassword">패스워드</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-dark" id="login-btn" type="submit">로그인</button>
      </form>
    </main>    
    </body>
    <script>
      const $loginBtn = document.getElementById('login-btn');
      $loginBtn.addEventListener('click', loginCheck);

      function loginCheck() {
        const userinfo = {
            email: $('#input-email').val(),
            password: $('#input-password').val()
        };

        $.ajax({
          type: "POST",
          url: '/api/loginCheck',
          data: JSON.stringify(userinfo),
          success: function() {
              console.log("here");
              const uid = '<%=(String)session.getAttribute("user")%>';
              if(uid=="null") {
                  alert("아이디 또는 비밀번호가 틀렸습니다.");
              } else {
                  window.location.href = "/main";
              }
          },
        });
      }

    </script>
</html>